.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
}
.header .inner {
    display: flex;
    justify-content: space-between;
}
.header .logo {
    margin: 37px;
}
.header .logo a {
    width: 162px;
    height: 26px;
    display: block;
    font-size: 0;
    line-height: 0;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none;
}
.header .gnb ul.depth1 {
    display: flex;
}
.header .gnb ul.depth1 > li {
    width: 153px;
    text-align: center;
}
.header .gnb ul.depth1 > li > a {
    display: block;
    line-height: 100px;
    font-size: 22px;
    font-weight: 700;
}
.header .gnb ul.depth1 > li > a > span {
    position: relative; 
    line-height: 100px; 
    display: inline-block;
    padding: 0 5px;
}
.header .gnb ul.depth1 > li:hover > a {
    color: #468409;
}
.header .gnb ul.depth1 > li:hover > a > span::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #468409;
    content: "";
}

.header .gnb ul.depth2 {
    margin-top: 20px;
    display: none;
}
.header .gnb ul.depth2 > li > a {
    display: block;
    font-size: 18px;
    line-height: 35px;
    color: #3d3d3d;
}
.header .gnb ul.depth2 > li > a:hover {
    color: #468409;
    font-weight: 700;
}
.header .tnb {
    margin-top: 38px;
}
.header .tnb ul {
    display: flex;
}
.header .tnb ul li {
    margin: 0 9px;
}
.header .tnb ul li a {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb ul li.search a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .tnb ul li.lang a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM9.71002 19.6674C8.74743 17.6259 8.15732 15.3742 8.02731 13H4.06189C4.458 16.1765 6.71639 18.7747 9.71002 19.6674ZM10.0307 13C10.1811 15.4388 10.8778 17.7297 12 19.752C13.1222 17.7297 13.8189 15.4388 13.9693 13H10.0307ZM19.9381 13H15.9727C15.8427 15.3742 15.2526 17.6259 14.29 19.6674C17.2836 18.7747 19.542 16.1765 19.9381 13ZM4.06189 11H8.02731C8.15732 8.62577 8.74743 6.37407 9.71002 4.33256C6.71639 5.22533 4.458 7.8235 4.06189 11ZM10.0307 11H13.9693C13.8189 8.56122 13.1222 6.27025 12 4.24799C10.8778 6.27025 10.1811 8.56122 10.0307 11ZM14.29 4.33256C15.2526 6.37407 15.8427 8.62577 15.9727 11H19.9381C19.542 7.8235 17.2836 5.22533 14.29 4.33256Z' fill='white'/%3E%3C/svg%3E%0A");
}

.header.fixed {
    background-color: #fff;
    color: #2d2d2d;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.header.fixed .logo a {
    background: url(../images/common/logo_b.svg) no-repeat center center / contain;
}
.header.fixed .tnb ul li.search a  {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
}
.header.fixed .tnb ul li.lang a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM9.71002 19.6674C8.74743 17.6259 8.15732 15.3742 8.02731 13H4.06189C4.458 16.1765 6.71639 18.7747 9.71002 19.6674ZM10.0307 13C10.1811 15.4388 10.8778 17.7297 12 19.752C13.1222 17.7297 13.8189 15.4388 13.9693 13H10.0307ZM19.9381 13H15.9727C15.8427 15.3742 15.2526 17.6259 14.29 19.6674C17.2836 18.7747 19.542 16.1765 19.9381 13ZM4.06189 11H8.02731C8.15732 8.62577 8.74743 6.37407 9.71002 4.33256C6.71639 5.22533 4.458 7.8235 4.06189 11ZM10.0307 11H13.9693C13.8189 8.56122 13.1222 6.27025 12 4.24799C10.8778 6.27025 10.1811 8.56122 10.0307 11ZM14.29 4.33256C15.2526 6.37407 15.8427 8.62577 15.9727 11H19.9381C19.542 7.8235 17.2836 5.22533 14.29 4.33256Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
}

.header.menu_over {
    color: #2d2d2d;
}
.header.menu_over::after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; 
    width: 100%;
    height: 330px;
    background-color: #fff;
    content: "";
}
.header.menu_over::before {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    content: "";
}
.header.menu_over .logo a {
    background: url(../images/common/logo_b.svg) no-repeat center center / contain;
}
.header.menu_over .gnb ul.depth2 {
    display: block;
}

.header.menu_over .tnb ul li.search a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
}
.header.menu_over .tnb ul li.lang a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM9.71002 19.6674C8.74743 17.6259 8.15732 15.3742 8.02731 13H4.06189C4.458 16.1765 6.71639 18.7747 9.71002 19.6674ZM10.0307 13C10.1811 15.4388 10.8778 17.7297 12 19.752C13.1222 17.7297 13.8189 15.4388 13.9693 13H10.0307ZM19.9381 13H15.9727C15.8427 15.3742 15.2526 17.6259 14.29 19.6674C17.2836 18.7747 19.542 16.1765 19.9381 13ZM4.06189 11H8.02731C8.15732 8.62577 8.74743 6.37407 9.71002 4.33256C6.71639 5.22533 4.458 7.8235 4.06189 11ZM10.0307 11H13.9693C13.8189 8.56122 13.1222 6.27025 12 4.24799C10.8778 6.27025 10.1811 8.56122 10.0307 11ZM14.29 4.33256C15.2526 6.37407 15.8427 8.62577 15.9727 11H19.9381C19.542 7.8235 17.2836 5.22533 14.29 4.33256Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1320px){
    .header .logo a {
        width: 148px;
        height: 24px;
    }
    .header .gnb ul.depth1 > li {
        width: 137px;
    }
    .header .gnb ul.depth1 > li > a {
        font-size: 20px;
    }
    .header .tnb ul li {
        margin: 0 5px;
    }
    .header .tnb ul li a {
        width: 22px;
        height: 22px;
    }
}
@media screen and (max-width:1024px){
    .header {
        height: 80px;
    }
    .header .logo {
        margin: 30px 0 0 0;
    }
    .header .logo a {
        width: 148px;
        height: 24px;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 80px;
        font-size: 0;
        line-height: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 26px auto;
    }
    .header .gnb .gnb_open {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.88889 18C3.63704 18 3.42593 17.9042 3.25556 17.7125C3.08519 17.5208 3 17.2833 3 17C3 16.7167 3.08519 16.4792 3.25556 16.2875C3.42593 16.0958 3.63704 16 3.88889 16H18.1111C18.363 16 18.5741 16.0958 18.7444 16.2875C18.9148 16.4792 19 16.7167 19 17C19 17.2833 18.9148 17.5208 18.7444 17.7125C18.5741 17.9042 18.363 18 18.1111 18H3.88889ZM3.88889 13C3.63704 13 3.42593 12.9042 3.25556 12.7125C3.08519 12.5208 3 12.2833 3 12C3 11.7167 3.08519 11.4792 3.25556 11.2875C3.42593 11.0958 3.63704 11 3.88889 11H18.1111C18.363 11 18.5741 11.0958 18.7444 11.2875C18.9148 11.4792 19 11.7167 19 12C19 12.2833 18.9148 12.5208 18.7444 12.7125C18.5741 12.9042 18.363 13 18.1111 13H3.88889ZM3.88889 8C3.63704 8 3.42593 7.90417 3.25556 7.7125C3.08519 7.52083 3 7.28333 3 7C3 6.71667 3.08519 6.47917 3.25556 6.2875C3.42593 6.09583 3.63704 6 3.88889 6H18.1111C18.363 6 18.5741 6.09583 18.7444 6.2875C18.9148 6.47917 19 6.71667 19 7C19 7.28333 18.9148 7.52083 18.7444 7.7125C18.5741 7.90417 18.363 8 18.1111 8H3.88889Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.88889 18C3.63704 18 3.42593 17.9042 3.25556 17.7125C3.08519 17.5208 3 17.2833 3 17C3 16.7167 3.08519 16.4792 3.25556 16.2875C3.42593 16.0958 3.63704 16 3.88889 16H18.1111C18.363 16 18.5741 16.0958 18.7444 16.2875C18.9148 16.4792 19 16.7167 19 17C19 17.2833 18.9148 17.5208 18.7444 17.7125C18.5741 17.9042 18.363 18 18.1111 18H3.88889ZM3.88889 13C3.63704 13 3.42593 12.9042 3.25556 12.7125C3.08519 12.5208 3 12.2833 3 12C3 11.7167 3.08519 11.4792 3.25556 11.2875C3.42593 11.0958 3.63704 11 3.88889 11H18.1111C18.363 11 18.5741 11.0958 18.7444 11.2875C18.9148 11.4792 19 11.7167 19 12C19 12.2833 18.9148 12.5208 18.7444 12.7125C18.5741 12.9042 18.363 13 18.1111 13H3.88889ZM3.88889 8C3.63704 8 3.42593 7.90417 3.25556 7.7125C3.08519 7.52083 3 7.28333 3 7C3 6.71667 3.08519 6.47917 3.25556 6.2875C3.42593 6.09583 3.63704 6 3.88889 6H18.1111C18.363 6 18.5741 6.09583 18.7444 6.2875C18.9148 6.47917 19 6.71667 19 7C19 7.28333 18.9148 7.52083 18.7444 7.7125C18.5741 7.90417 18.363 8 18.1111 8H3.88889Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
    }
    .header .gnb .gnb_close {
        background-size: 30px auto;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 13.4905L6.78327 18.7072C6.58809 18.9024 6.33967 19 6.03802 19C5.73638 19 5.48796 18.9024 5.29278 18.7072C5.09759 18.512 5 18.2636 5 17.962C5 17.6603 5.09759 17.4119 5.29278 17.2167L10.5095 12L5.29278 6.78327C5.09759 6.58809 5 6.33967 5 6.03802C5 5.73638 5.09759 5.48796 5.29278 5.29278C5.48796 5.09759 5.73638 5 6.03802 5C6.33967 5 6.58809 5.09759 6.78327 5.29278L12 10.5095L17.2167 5.29278C17.4119 5.09759 17.6603 5 17.962 5C18.2636 5 18.512 5.09759 18.7072 5.29278C18.9024 5.48796 19 5.73638 19 6.03802C19 6.33967 18.9024 6.58809 18.7072 6.78327L13.4905 12L18.7072 17.2167C18.9024 17.4119 19 17.6603 19 17.962C19 18.2636 18.9024 18.512 18.7072 18.7072C18.512 18.9024 18.2636 19 17.962 19C17.6603 19 17.4119 18.9024 17.2167 18.7072L12 13.4905Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .header .gnb ul.depth1 {
        display: none;
    }
    .header .tnb {
        display: none;
    }
    .header.menu_open .logo a {
        display: none;
    }
    .header.menu_open .gnb .gnb_wrap {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background-color: #9BBF82;
        color: #fff;
        padding: 80px 20px 20px 20px;
    }
    .header.menu_open .gnb .gnb_open {
        display: none;
    }
    .header.menu_open .gnb .gnb_close {
        display: block;
    }
    .header.menu_open .gnb ul.depth1{
        display: block;
        height: calc(100vh - 80px);
        overflow-y: auto;
        margin-top: 10px;
    }
    .header.menu_open .gnb ul.depth1::before {
        position: absolute;
        left: 0;
        top: 80px;
        z-index: 10;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.6);
        content: ""; 
    }
    .header.menu_open .gnb ul.depth1 > li {
        margin-left: 0;
        text-align: left;
    }
    .header.menu_open .gnb ul.depth1 > li > a {
        line-height: 80px;
    }
    .header .gnb ul.depth1 > li > a > span {
        line-height: 80px;
    }
}
@media screen and (max-width:768px){
    .header {
        height: 70px;
    }
    .header .logo {
        margin: 25px 0 0 0;
    }
    .header .logo a {
        width: 125px;
        height: 20px;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        width: 60px;
        height: 70px;
        background-size: 25px auto;
    }
    .header .gnb .gnb_close {
        background-size: 28px auto;
    }
    .header.menu_open .gnb ul.depth1{
        height: calc(100vh - 70px);
        margin-top: 10px;
    }
    .header.menu_open .gnb ul.depth1::before {
        top: 70px;
    }
    .header.menu_open .gnb ul.depth1 > li > a {
        line-height: 70px;
    }
    .header .gnb ul.depth1 > li > a > span {
        line-height: 70px;
    }
}
@media screen and (max-width:500px){
    .header {
        height: 50px;
    }
    .header .logo {
        margin: 16px 0 0 0;
    }
    .header .logo a {
        width: 112px;
        height: 18px;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        width: 60px;
        height: 50px;
        background-size: 24px auto;
    }
    .header .gnb .gnb_close {
        background-size: 25px auto;
    }
    .header.menu_open .gnb ul.depth1{
        height: calc(100vh - 50px);
        margin-top: 0;
    }
    .header.menu_open .gnb ul.depth1::before {
        top: 50px;
    }
    .header.menu_open .gnb ul.depth1 > li > a {
        line-height: 50px;
        font-size: 18px;
    }
    .header .gnb ul.depth1 > li > a > span {
        line-height: 50px;
    }
}

.footer .f_top {
    background-color: #47623D;
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin-top: 110px;
}
.footer .f_inner {
    display: flex;
    position: relative;
}
.footer .f_top .familysite {
    font-weight: 700;
}
.footer .f_top .familysite a {
    display: block;
    padding: 0 132px 0 21px;
    position: relative;
}
.footer .f_top .familysite a::before {
    position: absolute;
    left: 0;
    top: 15px;
    width: 18px;
    height: 18px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 14.25H6.75V10.5C6.75 10.2875 6.82188 10.1094 6.96563 9.96563C7.10938 9.82188 7.2875 9.75 7.5 9.75H10.5C10.7125 9.75 10.8906 9.82188 11.0344 9.96563C11.1781 10.1094 11.25 10.2875 11.25 10.5V14.25H13.5V7.5L9 4.125L4.5 7.5V14.25ZM3 14.25V7.5C3 7.2625 3.05313 7.0375 3.15938 6.825C3.26562 6.6125 3.4125 6.4375 3.6 6.3L8.1 2.925C8.3625 2.725 8.6625 2.625 9 2.625C9.3375 2.625 9.6375 2.725 9.9 2.925L14.4 6.3C14.5875 6.4375 14.7344 6.6125 14.8406 6.825C14.9469 7.0375 15 7.2625 15 7.5V14.25C15 14.6625 14.8531 15.0156 14.5594 15.3094C14.2656 15.6031 13.9125 15.75 13.5 15.75H10.5C10.2875 15.75 10.1094 15.6781 9.96563 15.5344C9.82188 15.3906 9.75 15.2125 9.75 15V11.25H8.25V15C8.25 15.2125 8.17813 15.3906 8.03438 15.5344C7.89062 15.6781 7.7125 15.75 7.5 15.75H4.5C4.0875 15.75 3.73438 15.6031 3.44063 15.3094C3.14687 15.0156 3 14.6625 3 14.25Z' fill='white'/%3E%3C/svg%3E%0A");
}
.footer .f_top .familysite a::after {
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer .f_top .familysite .button_prev {
    position: absolute;
    left: 102px;
    top: 16px;
    width: 18px;
    height: 18px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.09998 8.99961L11.025 11.9246C11.1625 12.0621 11.2312 12.2371 11.2312 12.4496C11.2312 12.6621 11.1625 12.8371 11.025 12.9746C10.8875 13.1121 10.7125 13.1809 10.5 13.1809C10.2875 13.1809 10.1125 13.1121 9.97498 12.9746L6.52498 9.52461C6.44998 9.44961 6.39685 9.36836 6.3656 9.28086C6.33435 9.19336 6.31873 9.09961 6.31873 8.99961C6.31873 8.89961 6.33435 8.80586 6.3656 8.71836C6.39685 8.63086 6.44998 8.54961 6.52498 8.47461L9.97498 5.02461C10.1125 4.88711 10.2875 4.81836 10.5 4.81836C10.7125 4.81836 10.8875 4.88711 11.025 5.02461C11.1625 5.16211 11.2312 5.33711 11.2312 5.54961C11.2312 5.76211 11.1625 5.93711 11.025 6.07461L8.09998 8.99961Z' fill='white'/%3E%3C/svg%3E%0A");
}
.footer .f_top .familysite .button_next {
    position: absolute;
    left: 120px;
    top: 16px;
    width: 18px;
    height: 18px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.44998 8.99961L6.52498 6.07461C6.38748 5.93711 6.31873 5.76211 6.31873 5.54961C6.31873 5.33711 6.38748 5.16211 6.52498 5.02461C6.66248 4.88711 6.83748 4.81836 7.04998 4.81836C7.26248 4.81836 7.43748 4.88711 7.57498 5.02461L11.025 8.47461C11.1 8.54961 11.1531 8.63086 11.1844 8.71836C11.2156 8.80586 11.2312 8.89961 11.2312 8.99961C11.2312 9.09961 11.2156 9.19336 11.1844 9.28086C11.1531 9.36836 11.1 9.44961 11.025 9.52461L7.57498 12.9746C7.43748 13.1121 7.26248 13.1809 7.04998 13.1809C6.83748 13.1809 6.66248 13.1121 6.52498 12.9746C6.38748 12.8371 6.31873 12.6621 6.31873 12.4496C6.31873 12.2371 6.38748 12.0621 6.52498 11.9246L9.44998 8.99961Z' fill='white'/%3E%3C/svg%3E%0A");
}
.footer .f_top .swiper {
    margin-left: 40px;
}
.footer .f_top .swiper ul li a {
    position: relative;
    white-space: nowrap;
    display: block;
}
.footer .f_top .swiper ul li a::after {
    position: absolute;
    left: -37px;
    top: 10px;
    width: 1px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer .f_btm {
    background-color: #2F4128;
    color: rgba(255, 255, 255, 0.7);
    padding: 40px 0 60px 0;
    position: relative;
}
.footer .f_btm .f_logo {
    float: left;
}
.footer .f_btm .f_logo img {
    width: 155px;
    opacity: 0.8;
}
.footer .f_btm .sns {
    float: right;
}
.footer .f_btm .sns ul {
    display: flex;
}
.footer .f_btm .sns ul li {
    margin-left: 5px;
}
.footer .f_btm .f_cnt {
    margin: 0 360px 0 254px;
    white-space: nowrap;
}
.footer .f_btm .f_cnt .f_nav ul {
    display: flex;
}
.footer .f_btm .f_cnt .f_nav ul li {
    margin-right: 40px;
    line-height: 22px;
    position: relative;
}
.footer .f_btm .f_cnt .f_nav ul li.privacy {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}
.footer .f_btm .f_cnt .f_nav ul li.privacy::after {
    position: absolute;
    left: 124px;
    top: 5px;
    width: 1px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
} 
.footer .f_btm .f_cnt .f_info {
    margin-top: 10px;
}
.footer .f_btm .f_cnt .f_info ul {
    display: flex;
}
.footer .f_btm .f_cnt .f_info ul li {
    position: relative;
    margin-right: 40px;
    line-height: 22px;
}
.footer .f_btm .f_cnt .f_info ul li::after {
    position: absolute;
    right: -21px;
    top: 6px;
    width: 1px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer .f_btm .f_cnt .f_info ul li:last-child::after {
    display: none;
}
.footer .f_btm .f_cnt .copyright {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.footer .top {
    position: absolute;
    right: 5%;
    top: -75px;
    width: 50px;
    height: 50px;
    z-index: 100;
    background-color: #182315;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width:1500px){
    .footer .top {
        right: 1%;
    }
}
@media screen and (max-width:1320px){
    .footer .f_top {
        margin-top: 90px;
    }
    .footer .f_top .familysite a {
        padding: 0 112px 0 21px;
    }
    .footer .f_top .swiper {
        margin-left: 30px;
    }
    .footer .f_btm {
        padding: 35px 0 45px 0;
    }
    .footer .f_btm .f_logo img {
        width: 135px;
        margin-right: 90px;
    }
}
@media screen and (max-width:1024px){
    .footer .f_top {
        margin-top: 80px;
    }
    .footer .f_top .familysite a {
        padding: 0 112px 0 21px;
    }
    .footer .f_top .swiper {
        margin-left: 30px;
    }
    .footer .f_top .swiper ul li a::after {
        left: -21px;
    }
    .footer .f_btm {
        padding: 30px 0 40px 0;
    }
    .footer .f_btm .f_logo {
        float: none;
 
    }
    .footer .f_btm .f_logo img {
        width: 125px;
        margin-right: 0;
    }
    .footer .f_btm .sns {
        float: none;
        margin-top: 10px;
    }
    .footer .f_btm .f_cnt {
        margin: 0;
    }
    .footer .f_btm .f_cnt .f_nav {
        margin-top: 15px;
    }
    .footer .f_btm .f_cnt .copyright {
        margin-top: 15px;
    }
}
@media screen and (max-width:768px){
    .footer .f_top {
        margin-top: 90px;
    }
    .footer .f_top .familysite a {
        padding: 0 102px 0 21px;
    }
    .footer .f_top .swiper {
        margin-left: 20px;
    }
    .footer .f_btm {
        padding: 30px 0 40px 0;
    }
    .footer .f_btm .f_logo img {
        width: 125px;
    }
    .footer .f_btm .sns ul li img {
        width: 32px;
        height: auto;
    }
    .footer .f_btm .f_cnt .f_nav {
        margin-top: 10px;
    }
    .footer .f_btm .f_cnt .f_nav ul li.privacy::after {
        left: 117px;
    }
    .footer .f_btm .f_cnt .copyright {
        margin-top: 10px;
    }    
    .footer .top {
        top: -72px;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}
@media screen and (max-width:500px){
    .footer .f_top {
        margin-top: 80px;
    }
    .footer .f_btm .f_logo img {
        width: 115px;
    }
    .footer .f_btm .sns ul li img {
        width: 30px;
        height: auto;
    }
    .footer .f_btm .f_cnt .f_nav ul li.privacy::after {
        left: 110px;
    }
    .footer .f_btm .f_cnt .f_info ul {
        display: block;
    }   
    .footer .f_btm .f_cnt .f_info ul li::after {
        display: none;
    }
    .footer .top {
        top: -70px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}